main{
    display: flex;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
    background: #FBEAEB

}

div img{
    width: 50vw;
    border-radius: 20px;

}
.img{
    display: flex;
    align-content: center;
    justify-content: center;
}
.about{
    position: relative;
    top: 34px;

    width: 50vw;
    
}
.heading{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Kreon', serif;
    font-size: 49px;

}
 .aboutpage{
    font-family: 'Calligraffitti', cursive;
    position: relative;
    left: 16px;
    width: 46vw;
    font-size: 27px;
    color: black;
    
 }
 